{% extends "base.html" %}


{% block title %}Register to eager Llama{% endblock %}

{% block page_content %}
<div class="container full_height d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="page-header col-6 mx-auto">
                <h1>Register</h1>
            </div>
        </div>
        <div class="row align-items-center justify-content-center m-2">
            <div class="col-2">
            </div>

            <div class="col-8">
                <form method="POST" action="{{url_for('auth.register')}}" class="row g-3">
                    {{ form.hidden_tag() }}
                    <div class="col-12">
                        {{ form.email.label(class_="form-label") }}
                        {{ form.email(class_="form-control {valid}".format(valid ='is-invalid' if
                        form.errors.get('email')
                        else
                        "" )) }}
                        <div class="invalid-feedback">
                            {{ form.errors.get("email")[0]}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        {{ form.first_name.label(class_="form-label") }}
                        {{ form.first_name(class_="form-control {valid}".format(valid ='is-invalid' if
                        form.errors.get('first_name') else
                        "" )) }}
                        <div class="invalid-feedback">
                            {{ form.errors.get("first_name")[0]}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        {{ form.last_name.label(class_="form-label") }}
                        {{ form.last_name(class_="form-control {valid}".format(valid ='is-invalid' if
                        form.errors.get('last_name')
                        else
                        "" )) }}
                        <div class="invalid-feedback">
                            {{ form.errors.get("last_name")[0]}}
                        </div>
                    </div>

                    <div class="col-12">
                        {{ form.password.label(class_="form-label") }}
                        {{ form.password(class_="form-control {valid}".format(valid ='is-invalid' if
                        form.errors.get('password')
                        else
                        "" )) }}
                        <div class="invalid-feedback">
                            {{ form.errors.get("password")[0]}}
                        </div>
                    </div>
                    <div class="col-12">
                        {{ form.password2.label(class_="form-label") }}
                        {{ form.password2(class_="form-control {valid}".format(valid ='is-invalid' if
                        form.errors.get('password')
                        else
                        "" )) }}
                        <div class="invalid-feedback">
                            {{ form.errors.get("password")[0]}}
                        </div>
                    </div>
                    <div class="col-12">
                        {{ form.submit(class_="btn btn-primary") }}
                    </div>
                </form>
            </div>

            <div class="col-2"></div>
        </div>
    </div>
</div>


{% endblock %}