{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block title %}Rate summaries{% endblock %}

{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col m-5 d-flex justify-content-center align-items-center">
            <h1>Rated 3</h1>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                class="bi bi-caret-down-square-fill" viewBox="0 0 16 16">
                <path
                    d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4 4a.5.5 0 0 0-.374.832l4 4.5a.5.5 0 0 0 .748 0l4-4.5A.5.5 0 0 0 12 6H4z" />
            </svg>
        </div>
    </div>

    <div class="row mt-3">
        {% for image in result_3 %}
        <div class="col m-2 d-flex justify-content-center align-items-center">
            <!-- <div class="rounded" style="background-image: url(https://x3vid.com{{image.thumb_url}})"> -->
            <div class="thump rounded" style="background-image: url(https://x3vid.com{{image.thumb_url}})">
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col m-5 d-flex justify-content-center align-items-center">
            <h1>Rated 2</h1>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                class="bi bi-caret-down-square-fill" viewBox="0 0 16 16">
                <path
                    d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4 4a.5.5 0 0 0-.374.832l4 4.5a.5.5 0 0 0 .748 0l4-4.5A.5.5 0 0 0 12 6H4z" />
            </svg>
        </div>
    </div>
    <div class="row mt-3">
        {% for image in result_2 %}
        <div class="col m-2 d-flex justify-content-center align-items-center">
            <!-- <div class="rounded" style="background-image: url(https://x3vid.com{{image.thumb_url}})"> -->
            <div class="thump rounded" style="background-image: url(https://x3vid.com{{image.thumb_url}})">
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col m-5 d-flex justify-content-center align-items-center">
            <h1>Rated 1</h1>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                class="bi bi-caret-down-square-fill" viewBox="0 0 16 16">
                <path
                    d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4 4a.5.5 0 0 0-.374.832l4 4.5a.5.5 0 0 0 .748 0l4-4.5A.5.5 0 0 0 12 6H4z" />
            </svg>
        </div>
    </div>
    <div class="row mt-3">
        {% for image in result_1 %}
        <div class="col m-2 d-flex justify-content-center align-items-center">
            <!-- <div class="rounded" style="background-image: url(https://x3vid.com{{image.thumb_url}})"> -->
            <div class="thump rounded" style="background-image: url(https://x3vid.com{{image.thumb_url}})">
            </div>
        </div>
        {% endfor %}
    </div>


    <div class="row">
        <div class="col m-5 d-flex justify-content-center align-items-center">
            <h1>Rated 0</h1>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                class="bi bi-caret-down-square-fill" viewBox="0 0 16 16">
                <path
                    d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4 4a.5.5 0 0 0-.374.832l4 4.5a.5.5 0 0 0 .748 0l4-4.5A.5.5 0 0 0 12 6H4z" />
            </svg>
        </div>
    </div>


    <div class="row mt-3">
        {% for image in result_0 %}
        <div class="col m-2 d-flex justify-content-center align-items-center">
            <!-- <div class="rounded" style="background-image: url(https://x3vid.com{{image.thumb_url}})"> -->
            <div class="thump rounded" style="background-image: url(https://x3vid.com{{image.thumb_url}})">
            </div>
        </div>
        {% endfor %}
    </div>



    <div class="row">
        <div class="col m-5 d-flex justify-content-center align-items-center">
            <h1>Rated -1</h1>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                class="bi bi-caret-down-square-fill" viewBox="0 0 16 16">
                <path
                    d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4 4a.5.5 0 0 0-.374.832l4 4.5a.5.5 0 0 0 .748 0l4-4.5A.5.5 0 0 0 12 6H4z" />
            </svg>
        </div>
    </div>

    <div class="row mt-3">
        {% for image in result_m1 %}
        <div class="col m-2 d-flex justify-content-center align-items-center">
            <!-- <div class="rounded" style="background-image: url(https://x3vid.com{{image.thumb_url}})"> -->
            <div class="thump rounded" style="background-image: url(https://x3vid.com{{image.thumb_url}})">
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col m-5 d-flex justify-content-center align-items-center">
            <h1>Rated -2</h1>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                class="bi bi-caret-down-square-fill" viewBox="0 0 16 16">
                <path
                    d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4 4a.5.5 0 0 0-.374.832l4 4.5a.5.5 0 0 0 .748 0l4-4.5A.5.5 0 0 0 12 6H4z" />
            </svg>
        </div>
    </div>

    <div class="row mt-3">
        {% for image in result_m2 %}
        <div class="col m-2 d-flex justify-content-center align-items-center">
            <!-- <div class="rounded" style="background-image: url(https://x3vid.com{{image.thumb_url}})"> -->
            <div class="thump rounded" style="background-image: url(https://x3vid.com{{image.thumb_url}})">
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col m-5 d-flex justify-content-center align-items-center">
            <h1>Rated -3</h1>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                class="bi bi-caret-down-square-fill" viewBox="0 0 16 16">
                <path
                    d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4 4a.5.5 0 0 0-.374.832l4 4.5a.5.5 0 0 0 .748 0l4-4.5A.5.5 0 0 0 12 6H4z" />
            </svg>
        </div>
    </div>


    <div class="row mt-3">
        {% for image in result_m3 %}
        <div class="col m-2 d-flex justify-content-center align-items-center">
            <!-- <div class="rounded" style="background-image: url(https://x3vid.com{{image.thumb_url}})"> -->
            <div class="thump rounded" style="background-image: url(https://x3vid.com{{image.thumb_url}})">
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}