{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block title %}Rate page{% endblock %}

{% block page_content %}
<div class="container d-flex justify-content-center align-items-center">
    <div class="row mt-3">
        <div class="col-12">
            <div class="container">
                {% for key_date, values in display_stats.items() %}
                <div class="row border">
                    <div class="col-12">
                        {% if w_year and not w_month %}
                        <a class="a_non_text_decorator"
                            href="{{url_for('classifier.rate_performance', id='1', year=w_year, month=key_date)}}">
                            <h4>{{w_year}} {{key_date}}:</h4>
                        </a>
                        {%elif w_month and w_year %}
                        <h4>{{w_month}}, {{key_date}} of {{w_year}}:</h4>
                        {% else %}
                        <a class="a_non_text_decorator"
                            href="{{url_for('classifier.rate_performance', id='1', year=key_date)}}">
                            <h4>{{key_date}}</h4>
                        </a>
                        {%endif%}
                    </div>
                    <div class="col">
                        <div class="container">

                            {% for key, r_values in values.items() %}
                            <div class="row">
                                {% if key == 'ratings' %}
                                {% for number, number_values in r_values.items() %}
                                <div class="col">
                                    <p class="hg small">{{number}}:</p>
                                </div>
                                <div class="col small">
                                    <p>{{number_values}}</p>
                                </div>
                                {% endfor %}
                                {% elif key == 'data' %}
                                {% if values.get('has_chart') %}
                                {% if display_chart %}
                                <div class="col">
                                    <div class="container d-flex justify-content-center align-items-center">
                                        <div class="row">
                                            <div class="col">
                                                <button id="btn_{{key_date}}" type="button"
                                                    class="btn btn-primary">Show Chart</button>
                                                <div id="timeline_{{key_date}}" class="chart"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {%endif%}
                                {%endif%}
                                {% elif key not in ['has_chart', 'daysInMonth', 'month_num'] %}
                                <div class="col">
                                    <p class="hg">{{key}}:</p>
                                </div>
                                <div class="col">
                                    <p>{{r_values}}</p>
                                </div>

                                {%endif%}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['timeline'] });
</script>
{% for key_date, values in display_stats.items() %}
<script type="text/javascript">
    $(document).ready(function () {
        $("#btn_{{key_date}}").on("click", function () {
            drawChart_{{ key_date }}();
  	    var t = document.getElementById("timeline_{{key_date}}");
            t.classList.toggle("hide");
        });
    });
</script>


{% for key, r_values in values.items() %}
{% if display_chart and values.get('has_chart') %}
{%if key == 'data' %}

{%if w_month %}
<script type="text/javascript" defer>
    var values = {{ r_values | tojson | safe }}

    var timeline_{{ key_date }} = values.map(rt => {
        return ["Images", `image id:${rt.image_id} rating ${rt.rating_score}`, new Date(rt.created_at.year, rt.created_at.month - 1, rt.created_at.day, rt.created_at.hour, rt.created_at.minute, rt.created_at.seconds), new Date(rt.created_at.year, rt.created_at.month - 1, rt.created_at.day, rt.created_at.hour, rt.created_at.minute, rt.created_at.seconds)]
    })


</script>

<script type="text/javascript" defer>

    function drawChart_{{ key_date }}() {
        var container = document.getElementById('timeline_{{key_date}}');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();

        dataTable.addColumn({ type: 'string', id: 'Images' });
        dataTable.addColumn({ type: 'string', id: 'Name' });
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });
        dataTable.addRows(timeline_{{ key_date }});

    var options = {
        timeline: {
            groupByRowLabel: false,
            showRowLabels: false
        },
    };

    chart.draw(dataTable, options);

    // dataTable.addRows([
    //     ['Washington', new Date(1789, 3, 30), new Date(1797, 2, 4)],
    //     ['Adams', new Date(1797, 2, 4), new Date(1801, 2, 4)],
    //     ['Jefferson', new Date(1801, 2, 4), new Date(1809, 2, 4)]]);

    }
</script>

{% else %}


<script type="text/javascript" defer>
    var values = {{ r_values | tojson | safe }}

    var test = values.map(rt => {
        return ["Images", `image id:${rt.image_id} rating ${rt.rating_score}`, new Date(rt.created_at.year, rt.created_at.month - 1, rt.created_at.day, rt.created_at.hour, rt.created_at.minute, rt.created_at.seconds), new Date(rt.created_at.year, rt.created_at.month - 1, rt.created_at.day, rt.created_at.hour, rt.created_at.minute, rt.created_at.seconds)]
    })

    var last_day = {{ values['daysInMonth'] }}

</script>
<script type="text/javascript" defer>

    function drawChart_{{ key_date }}() {
        var container = document.getElementById('timeline_{{key_date}}');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();

        dataTable.addColumn({ type: 'string', id: 'Images' });
        dataTable.addColumn({ type: 'string', id: 'Name' });
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });
        dataTable.addRows(test);


        var month = test[0][2].getMonth()
        var options = {
            timeline: {
                groupByRowLabel: false,
                showRowLabels: false
            },
            hAxis: {
                minValue: new Date({{ w_year }}, month, 1),
            maxValue: new Date({{ w_year }}, month, last_day)
    }
    };

    chart.draw(dataTable, options);

    // dataTable.addRows([
    //     ['Washington', new Date(1789, 3, 30), new Date(1797, 2, 4)],
    //     ['Adams', new Date(1797, 2, 4), new Date(1801, 2, 4)],
    //     ['Jefferson', new Date(1801, 2, 4), new Date(1809, 2, 4)]]);

    }
</script>


{% endif %}




{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
{% endblock %}