{% extends "base.html" %}

{% block title %}User Update{% endblock %}


{% block page_content %}
<div class="container-fluid">
    <form method="POST" action="{{url_for('users.update_users', u_type = u_type, id = id)}}">
        <div class="container">
            <div class="row mt-5">
                <div class="col-3 d-flex justify-content-center align-items-center">
                    <h2>Updating user: {{user_name}}</h2>
                </div>
                <div class="col d-flex justify-content-center align-items-center">

                </div>
            </div>
            {{ form.hidden_tag() }}
            <div class="row mt-5">
                <div class="col-3 d-flex justify-content-center align-items-center">
                    {{ form.organization.label(class_="form-label") }}
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    {{ form.organization(class_="form-control {valid}".format(valid ='is-invalid' if
                    form.errors.get('organization')
                    else
                    ""), value = user.organization )}}
                    <div class="invalid-feedback">
                        {{ form.errors.get("organization")[0]}}
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-3 d-flex justify-content-center align-items-center">
                    {{ form.email.label(class_="form-label") }}
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <div class="input-group">
                        {{ form.email(class_="form-control {valid}".format(valid ='is-invalid' if
                        form.errors.get('email')
                        else
                        "" ), value=user.email) }}
                        <div class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-mailbox" viewBox="0 0 16 16">
                                <path
                                    d="M4 4a3 3 0 0 0-3 3v6h6V7a3 3 0 0 0-3-3zm0-1h8a4 4 0 0 1 4 4v6a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V7a4 4 0 0 1 4-4zm2.646 1A3.99 3.99 0 0 1 8 7v6h7V7a3 3 0 0 0-3-3H6.646z" />
                                <path
                                    d="M11.793 8.5H9v-1h5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.354-.146l-.853-.854zM5 7c0 .552-.448 0-1 0s-1 .552-1 0a1 1 0 0 1 2 0z" />
                            </svg>
                        </div>
                        <div class="invalid-feedback">
                            {{ form.errors.get("email")[0]}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-3 d-flex justify-content-center align-items-center">
                    {{ form.first_name.label(class_="form-label") }}
                </div>
                <div class="col-3 d-flex justify-content-center align-items-center">
                    <div class="input-group">
                        {{ form.first_name(class_="form-control {valid}".format(valid ='is-invalid' if
                        form.errors.get('first_name')
                        else
                        "" ), value=user.first_name) }}
                        <div class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-person-badge" viewBox="0 0 16 16">
                                <path
                                    d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                <path
                                    d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0h-7zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492V2.5z" />
                            </svg></div>
                        <div class="invalid-feedback">
                            {{ form.errors.get("first_name")[0]}}
                        </div>
                    </div>
                </div>
                <div class="col-3 d-flex justify-content-center align-items-center">
                    {{ form.last_name.label(class_="form-label") }}
                </div>
                <div class="col-3 d-flex justify-content-center align-items-center">
                    <div class="input-group">
                        {{ form.last_name(class_="form-control {valid}".format(valid ='is-invalid' if
                        form.errors.get('last_name')
                        else
                        "" ), value=user.last_name)}}
                        <div class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-file-person-fill" viewBox="0 0 16 16">
                                <path
                                    d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-1 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm-3 4c2.623 0 4.146.826 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-1.245C3.854 11.825 5.377 11 8 11z" />
                            </svg>
                        </div>
                        <div class="invalid-feedback">
                            {{ form.errors.get("last_name")[0]}}
                        </div>
                    </div>
                </div>
            </div>


            <div class="row mt-5">
                <div class="col-3 d-flex justify-content-center align-items-center">
                    {{ form.password.label(class_="form-label") }}
                </div>
                <div class="col-3 d-flex justify-content-center align-items-center">
                    {{ form.password(class_="form-control {valid}".format(valid ='is-invalid' if
                    form.errors.get('password')
                    else
                    "" )) }}
                    <div class="invalid-feedback">
                        {{ form.errors.get("password")[0]}}
                    </div>
                </div>
                <div class="col-3 d-flex justify-content-center align-items-center">
                    {{ form.password2.label(class_="form-label") }}
                </div>
                <div class="col-3 d-flex justify-content-center align-items-center">
                    {{ form.password2(class_="form-control {valid}".format(valid ='is-invalid' if
                    form.errors.get('password2')
                    else
                    "" )) }}
                    <div class="invalid-feedback">
                        {{ form.errors.get("password2")[0]}}
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-3"></div>
                <div class="col-3 d-flex justify-content-center align-items-center">
                    <a href="{{ url_for('users.view_users', page= 1) }}" class="btn btn-secondary">Go
                        back</a>
                </div>
                <div class="col-3 d-flex justify-content-center align-items-center">
                    {{ form.update(class_="btn btn-primary") }}
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </form>
</div>
{% endblock %}